@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-hero-image {
  
  background: linear-gradient(180deg, rgb(20, 20, 20) 0%, rgba(0,0,0,0) 25%), url('./images/hero-image-2.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.custom-home-card-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, .5)), url('./images/coffee-home-1.jpeg');
height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.custom-home-card-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, .5)), url('./images//coffee-home-2.jpeg');
height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.custom-home-card-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, .5)), url('./images//coffee-home-3.jpeg');
height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.custom-para {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (max-width:1024px) {
  .custom-hidden-navbar {
    display: none;
  }
  .custom-show-navbar {
    display: block;
  }
}

@media screen and (min-width:1024px) {
  .custom-hidden-sign {
    display: none;
  }
}


